body {
    font-family: Arial, sans-serif;
    background-image: url(fon.png);
    font-size: 16px;
    padding: 20px;
}

.btn {
    display: flex;
    justify-content: space-between;
}

.input {
    width: 100%;
    height: 200px;
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #ffcfdd;
    display: flex;
    flex-direction: row;
}

.insert-button {
    width: 180px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #ffcfdd;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.res-button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ffcfdd;
    background-color: #000;
    color: #ffcfdd;
    cursor: pointer;
}

.name {
    width: 180px;
    height: 20px;
    padding: 5px;
    background-color:#000;
    color: #ffcfdd;
}

.result {
    width: 100%;
    height: 200px;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid #000;
    background-color: #ffcfdd;
    overflow-y: scroll;
}

.selector{
    width: 300px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #ffcfdd;
    border: 3px solid #ffcfdd;
}