body {
    font-family: Arial, sans-serif;
    background-color: black;
    font-size: 16px;
    padding: 20px;
}

.style-selector {
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.note {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    height: 200px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(154, 38, 38);
    background-color: rgb(126, 125, 123);
}

.transform-button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

.insert-button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(154, 38, 38);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.result {
    width: 100%;
    height: 320px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightgray;
    overflow-y: scroll;
}